{% extends 'allchefs/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>About Author</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Bino Nguyen." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="{% static 'allchefs/css/styleabout.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="{% static 'allchefs/images/avatar.png' %}" alt="Bino Nguyen" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo">Bino Nguyen</h1>
				<h3 class="quickFade delayThree">Phone: 254-400-1577</h3>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li>LinkedIn: <a href="https://www.linkedin.com/in/binonguyen1090/" target="_blank">
							https://www.linkedin.com/in/binonguyen1090/</a></li>
					<li>Github: <a href="https://github.com/binonguyen1090" target="_blank">
							https://github.com/binonguyen1090</a></li>
					<li>Email: binonguyen1090@gmail.com</li>

				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				
					<div class="sectionTitle">
						<h1>Summary</h1>
					</div>

					<div class="sectionContent">
							<ul class="summary">
									
									<li>AWS Certified Solutions Architect – Associate </li>
									<li>Local Cookbook Development Badge and Basic Chef Fluency Badge.</li>
									<li>Experience working with multiple AWS Services: CloudFormation, Auto Scaling, SNS, Load Balancer, Life Cycle Hook, EC2, Lambda, IAM, S3...</li>
									<li>Experiences working with the following programming languages: Python, Ruby.</li>
									<li>Experience with Version control tools like Git, Github.</li>
									<li>Ability to pick up new technologies.</li><br/>
								</ul>
						
						
					</div>
					<div class="clear"></div>
				
				
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Work Experience</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Freelancer</h2>
						<p class="subDetails">May 2019 - Present</p><br>
						<ul>
							<li>AWS
								
								<ul>
										
									<li.a>• Leverage multiple AWS Services to solve business problems.</li.a><br>
									<li.a>• Write AWS CloudFormation to deploy infrastructure including the following services.</li.a><br>
									<li.a>• Write Lambda function using Python.</li.a>
								
								</ul>
							
							</li>
							<br>
							<li>Chef Configuration
									<ul>
										
											<li.a>• Write Chef Cookbook/Recipes</li.a><br>
											<li.a>•	Write Inspec (Test Kitchen) for Integration Test.</li.a><br>
											<li.a>•	Create and upload roles, data bags, environments to the Chef manage server.</li.a>
										
										</ul>
										
							</li>

						</ul>
					</article>
					<br>
					<article>
						<h2>Plastronics</h2>
						<p class="subDetails">Feb 2015 - Aug 2018</p>
						<ul>
							<span style="padding-left:40px;"><li>Machining parts with the right dimension with the right tool and cutters of the blueprint, then I do heat treatment process, Rockwell test Use the grinding machine to finish part within 0.0002" tolerances.</li>
							<li>Daily changed over, open mold and changing insert to make sure it matches with the blueprint</li>
							<li>Draw and programming on the EDM machine and make sure it produces the right part with the right dimensions</li><br>
						</ul>

					</article>

					
				</div>
				<div class="clear"></div>
			</section>

			<section>
				
					<div class="sectionTitle">
						<h1>Awards and Certifications</h1>
					</div>

					<div class="sectionContent">
							<ul class="summary">
									
									<li>AWS Certified Solutions Architect – Associate   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10/19/2019</li>
									<li>AWS Certified Cloud Practitioner certification  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5/20/2019</li>
									<li>Local Cookbook Development badge  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5/5/2019 </li>
									<li>Basic Chef Fluency Badge  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3/25/2019</li><br>
									
								</ul>
						
						
					</div>
					<div class="clear"></div>
				
				
			</section>

			<section>
				
					<div class="sectionTitle">
						<h1>Github projects</h1>
					</div>

					<div class="sectionContent">
							<ul class="summary">
									<li>AWS Lambda:   <a href="https://github.com/binonguyen1090/AWS_Lambda" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; https://github.com/binonguyen1090/AWS_Lambda</a></li>
									<li>Python:	  <a href="https://github.com/binonguyen1090/LeetCode" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;https://github.com/binonguyen1090/LeetCode/</a></li>
									<li>Ruby: <a href="https://github.com/binonguyen1090/Ruby" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; https://github.com/binonguyen1090/Ruby</a></li><br>
								</ul>
						
						
					</div>
					<div class="clear"></div>
				
				
			</section>

			

			

			<section>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>Brookhaven College, Farmers Branch, TX</h2>
						<p class="subDetails">May 2019</p>
						<p>•	Programmer Level 1 Certificate  </p>
					</article>

					<article>
						<h2>Texas State Technical College, Waco, TX </h2>
						<p class="subDetails">December 2015</p>
						<p>•	Associate of Applied Science in Mechanical Engineering Technology</p>
					</article>

					<article>
							<h2>Texas State Technical College, Waco, TX </h2>
							<p class="subDetails">December 2012</p>
							<p>•	Associate of Applied Science in Telecommunication Technology   </p>
						</article>
				</div>
				<div class="clear"></div>
			</section>

			<section>
					<div class="sectionTitle">
						<h1>Skills</h1>
					</div>
	
					<div class="sectionContent">
						<ul class="keySkills">
							<li>•	AWS</li>
							<li>•	Chef</li>
							<li>•	DevOps</li>
							<li>•	Docker</li>
							<li>•	Python</li>
							<li>•	Ruby</li>
							<li>•	Git, Github</li>
						</ul>
					</div>
					<div class="clear"></div>
				</section>
	
		</div>
	</div>


	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
</body>

</html>
<div class="col text-center">
		<button class="btn btn-default"><a href="{% url 'home' %}" class="btn btn-primary my-2">
				Back
			</a></button>
	  </div>
{% endblock %}

