{% extends 'allchefs/base.html' %}
{% load static%}
{% block title %}
Home
{% endblock%}

{% block content %}

<!doctype html>
<html lang="en">

<body>

    <main role="main ">
        <section class=" text-center p-3 mb-2 bg-secondary text-white">
            <div class="container ">
                <h1 class="jumbotron-heading text-center p-3 mb-2 bg-secondary text-white">Welcome To The Top Chefs OF
                    The World</h1>
                <h3 class="text-light ">Pick your favorite chef</h3>
                <br>
            </div>



            <div class="album py-3 p-5 mb-5 bg-danger text-white border rounded">
                <div class="container">
                    <div class="row">
                        {% if allchefs %}
                        {% for things in allchefs %}
                        <div class="col-md-3">
                            <div class="card mb-4 box-shadow">
                                <a href="{% url 'aboutchef' things.id %}"><img
                                        class="card-img-top rounded-lg border border-primary .img-thumbnail"
                                        src="{{ things.image.url }}" alt=""></a>
                            </div>
                        </div>
                        {% endfor%}
                        {% endif%}
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>





{% endblock%}