{% extends 'allchefs/base.html' %}

{% block content%}
<main role="main ">
        <section class=" text-center p-3 mb-2 bg-secondary text-white">
            <div class="container ">
                <h1 class="jumbotron-heading text-center p-3 mb-2 bg-secondary text-white"></h1>
                asd
            </div>
            <div class="album py-3 p-5 mb-5 bg-danger text-white border rounded">
                <div class="container">
                    <div class="row">
                        <p>Log In</p><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
    </section>
</main>
{% endblock %}